.header {
  background: linear-gradient(to top, #e6ecf3, #6598d3);
  grid-area: head;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #5b5b63;
  height: 70px;
}

.headerLogo {
  display: flex;
  margin-bottom: 5%;
}

.headerImg img {
  width: 60px;
  margin-right: -12px;
}

.headerTitle {
  font-weight: 500;
  color: #5b5b63;
  font-size: 30px;
}

.headerTitleSpan {
  color: #e52046;
  font-size: 50px;
  font-weight: 900;
}
