.dialogs{
 display: grid;
 grid-template-columns: 6fr 6fr;
 margin: 10px;
} 

.dialogsItems .active{
    font-size: 25px;
    font-weight: 600;
    color:  #b5bfe9;
}

.dialogsMessages{
    text-align: left;
}