.app{
    width: 90%;
    padding: 0 5%;
    padding-bottom: 10px;
    display: grid;
    background-color: rgb(210, 196, 223);
    grid-template-areas:
    "head head"
    "nav main";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

a{
text-decoration: none;
color: rgb(91, 91, 99);
}

.appContent{
        grid-area: main;
        width: 100%;
        border-radius: 5px;
        background: linear-gradient(to top,  rgb(230, 236, 243), rgb(101, 152, 211));
        box-shadow: inset 0 0 10px #434a5f;
        border-radius: 5px;
        margin-top: 10px;
        
}